body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin: 50px;
        }

        h1 {
            color: #333;
        }

        h2 {
            color: #4CAF50;
            font-size: 24px;
        }

        #getStartedButton {
            display: inline-block;
            padding: 10px 20px;
            font-size: 16px;
            text-decoration: none;
            background-color: #4CAF50;
            color: #fff;
            border-radius: 5px;
            transition: background-color 0.3s;
            cursor: pointer;
        }

        #getStartedButton:hover {
            background-color: #45a049;
        }